body {
    background-color: #F8F8F8;
    padding-top: 65px;
    font-family: 'Anonymous Pro', monospace;
    color: #444 !important;
}

.time {
    font-family: 'Anonymous Pro', monospace;
    font-size: 232% !important;
}

.ms {
    font-family: 'Anonymous Pro', monospace;
    font-size: 91% !important;
    margin-top: -15px;
    margin-bottom: 5px;
}

.details {
    float: left;
    margin-right: -1000px;
    font-size: 110%;
    color: #666;
    text-align: left;
}

.stats-table {
    text-align: left;
    margin-top: 15px;
}

/* highlighting */

@keyframes glowGood {
    30% {
	color: #2E2;
	text-shadow: 0 0 0px #1E1;
    }
}
@keyframes glowBad {
    30% {
	color: #E22;
	text-shadow: 0 0 0px #E11;
    }
}
.glow-good {
    animation-name: glowGood;
    animation-duration: 2s;
    animation-timing-function: linear;
}
.glow-bad {
    animation-name: glowBad;
    animation-duration: 2s;
    animation-timing-function: linear;
}

/* jquery ui stuff */

.ui-autocomplete {
    background: #fff;
    border-radius: 0px;
    font-size: small;
    font-family: 'Anonymous Pro', monospace;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover {
  border: 1px solid #f0f0f0; 
  background: #f1f1f1;
  color: #333;
}
