body {
    background-color: #F8F8F8;
    padding-top: 65px;
    font-family: 'Anonymous Pro', monospace;
    font-size: large;
    color: #444 !important;
}

.time {
    font-family: 'Anonymous Pro', monospace;
    font-size: 180% !important;
}

.ms {
    font-family: 'Anonymous Pro', monospace;
    font-size: 70% !important;
    margin-top: -15px;
    margin-bottom: 5px;
}

.details {
    float: left;
    margin-right: -1000px;
    font-size: 85%;
    color: #666;
    text-align: left;
}
